[2014-02-18 18:10] ahmetb opened #2 "Windows command-line support?"

[2014-02-18 20:37] #2 closed, assigned to nobody

[2014-12-01 01:57] kokizzu opened #5 "Feature request: add Errorf and Errorffunc"
add `Errorf` and `Errorffunc` as target to `fmt.Errorf`

[2015-02-14 11:44] fatih opened #7 "Add Windows support"

[2015-02-26 09:13] omeid opened #8 "Add styling support?"
Hi

I know with a name like "color" almost anything else is out of scope but I was wondering if you would consider adding support for "bold", "faint", "Italic", and "Underline".

Or perhaps they can fit in into an standalone package?

[2015-02-26 09:59] fatih commented on #8
You can use them already. http://godoc.org/github.com/fatih/color#Attribute Or do you mean something else?

[2015-02-26 11:12] omeid commented on #8
Whops. No idea how I missed it.

[2015-02-26 11:12] #8 closed

[2015-02-26 11:15] omeid commented on #8
On a second though, helper string functions like `StringCOLOR` would be helpful.

[2015-03-12 12:12] fatih commented on #7
Closed with #9

[2015-03-12 12:12] #7 closed

[2015-04-18 10:40] fatih opened #11 "Add DisableColors method, useful for CLI applications"

[2015-04-22 09:29] #11 closed

[2015-05-04 17:56] bjaglin opened #13 "Versioning policy"
We have been using the library in https://github.com/michaelsauter/crane for a while, but a recent change you made (namely making `color.Set()` private) broke our build which does not use any vendoring mechanism. We worked around that with https://github.com/michaelsauter/crane/pull/187, but I am concerned about potential breaking changes in the future. Do you have any policy regarding backward-co

[2015-05-04 17:59] bjaglin commented on #13
Actually, I am checking out the `README.md`, and our use-case fall directly under https://github.com/fatih/color/blob/191595cfb2ec9522680470397712a174a5684bb5/README.md#plug-into-existing-code. It seems that the snippet there is broken in the same way, so maybe the underlying question is whether our work around is "fine"?

[2015-05-04 18:26] fatih commented on #13
Hi @bjaglin

I'm so sorry about the making it private. I'll change it to public. I never thought it was going to be used. This is imho wrong. As for versioning policy, I always try to keep my package's stable. If you check my other packages, that's always the case. This a human error and there was no test either testing this.

[2015-05-04 18:34] bjaglin commented on #13
No worry! I thought maybe this was needed for the special case of Windows that seems to be worked on. Thanks!

[2015-05-04 18:38] #13 closed

[2015-05-04 18:39] fatih commented on #13
Thanks for reporting @bjaglin. This is fixed now. If there is anything to do please let me know.

[2015-05-17 07:47] nmabhinandan opened #15 "Add branch tags to use with package managers like gopkg.in"

[2015-05-18 09:34] fatih commented on #15
Please use `godep` or any other package manager that supports vendor. There is currently only one branch and it's the master which is the stable one. Thanks for bringing this up.

[2015-05-18 09:34] #15 closed

[2015-05-18 09:35] fatih commented on #5
Wow, totally missed this one :) Can you provide any use case for returning colored errors? It didn't make sense for me, because you cand do it already with `fmt.Errorf`, however I'm curious if I miss something here.

[2015-05-18 09:43] nmabhinandan commented on #15
Just add 0.1 or 1.0 branch tag something like https://github.com/codegangsta/negroni

[2015-05-18 09:47] fatih commented on #15
Ok added: https://github.com/fatih/color/tree/v0.1

[2015-05-22 07:30] nmabhinandan opened #16 "Request: Add uncolorize() function."
Once a color is set to a string there is no way to undo that. It is required while writing to file. So something like this would be great.
[code]

[2015-05-22 07:35] fatih commented on #16
There is `DisableColor()` and `EnableColor()` methods .Aren't they useful for you ? What's your case?

[2015-05-22 07:59] nmabhinandan commented on #16
Those are different. If I create a colorized string like ` color.RedString("red text")` and then if I wrote it to the file, the text editors aren't parsing the string. It works with the `cat` command but the text editors like sublime text aren't parsing them correctly.

[2015-07-21 21:35] ooesili opened #17 "Add the word "golang" to the repo description for searching"
When searching for "golang color" on GitHub, this repository is not listed. If I instead search for "go color", I do indeed find it.

I'd recommend doing something like [mitchellh/colorstring](https://github.com/mitchellh/colorstring), such as "Color package for Go (golang) http://godoc.org/github.com/fatih/color". I believe that this will make it easier for people to discover this repo.

[2015-07-22 09:51] fatih commented on #17
Hi @ooesili, it's already added in the README.md :) Thanks for the suggestion though.

[2015-07-22 09:51] #17 closed

[2015-07-23 14:39] zddhub opened #18 "When redirect output to the file, the color string will show with unexpected result."
$ go run color.go > color.log
$ vi color.log
  1 ^[[36mPrints text in cyan.
  2 ^[[0m^[[34mPrints text in blue.
  3 ^[[0m^[[31mWe have red
  4 ^[[0m^[[35mAnd many others ..
  5 ^[[0m

[2015-07-23 14:46] fatih commented on #18
Hi @zddhub . This is normal because it's not interpreted via the shell. Please disable the color if you with a flag like `--no-color` (https://github.com/fatih/color#disable-color) and use it in the form `go run color.go --no-color > color.log`

[2015-07-23 14:46] #18 closed

[2015-07-24 20:19] ooesili commented on #17
I saw it in the README.md, but my point was that the GitHub search seems to only look through the title and description.

https://github.com/search?o=desc&q=golang+color&s=stars&type=Repositories&utf8=✓
https://github.com/search?o=desc&q=go+color&s=stars&type=Repositories&utf8=✓

[2015-07-26 16:41] fatih commented on #17
Ah ok, I'll add it :+1:

[2015-08-04 04:11] Tonkpils commented on #16
I'm assuming you mean removing the formatting given to the string then? Not sure what you mean by

[2015-08-04 08:17] #16 closed

[2015-08-15 05:19] drewwells opened #21 "color does not work with ./..."
I ran into this while upgrading some tests to check for colorized output. Tests worked fine in the package, but `go test ./...` fails. You can reproduce this easily in this repo.

tests pass
`go test`

tests fail
`go test ./...`

[2015-08-20 18:36] fatih commented on #21
Hi @drewwells. The problem lies with this line:

[code]

Somehow this get's set to false when `go test ./...` is called. If you call just `go test` it's still true. Another interesting thing is that `go test -v ./...` also works.

So I'm not quite sure why the `stdout` changes between `go test ./...` and `go test -v ./...`. I don't have the time for debugging, but you can easily fix it by adding t

[2015-08-20 18:41] drewwells commented on #21
oh nice, `-v` is a good workaround. I think that is intended behavior, I have noticed stdout doesn't get populated when recursively executing tests. If each test manually assigned a fd to os.Stdout, would that pass the isTerminal check?

[2015-08-20 18:46] #21 closed

[2015-08-20 18:47] fatih commented on #21
@drewwells I've just set it explicit to false. Tests should always be the same, so depending on the environment is something which should imho be changed. Now even `go test ./...` works as intended.

[2015-08-20 18:50] drewwells commented on #21
Ah okay, since NoColor is exported I should be able to add those to my tests too. Thanks!

[2015-09-14 20:24] marksalpeter opened #23 "This package isn't working in OS X 10.11"
I checked the terminal settings. ANSI colors are enabled, and other terminal utilities (bower specifically) seem to be outputting colors correctly. I've tested with SprintFunc and color.Cyan(). Nothing seems to be outputting color.

[2015-09-14 20:28] fatih commented on #23
Hi @marksalpeter. Is 10.11 out yet?

[2015-11-25 03:44] Unknwon commented on #23
Any updates on this?

[2015-11-26 09:02] fatih commented on #23
I don't know still what the problem is. It's working here right now and I can see the colors (I'm using the latest MAC OS X version btw). Can you give me more detail what's not working?

[2015-11-26 17:01] Unknwon commented on #23
@fatih :trollface: I just noticed it may be a problem for me if it's a common issue before starting using, thanks!

[2015-11-30 21:41] #23 closed

[2015-11-30 21:41] fatih commented on #23
I don't see any value in this Issue as it's just working for me and I don't see a reason it should be break for 10.11 as it works for me already.

[2016-01-23 00:39] fatih commented on #5
I think the API is stable enough and we don't need to extend anything. It's already easiy to populate a custom error. Thanks

[2016-01-23 00:39] #5 closed

[2016-04-03 18:07] petercolberg opened #28 "Please use semantic versioning"
Please use semantic versioning:

- http://semver.org/
- https://en.wikipedia.org/wiki/Software_versioning
- https://wiki.debian.org/UpstreamGuide#Releases_and_Versions

[2016-04-03 20:26] fatih commented on #28
Hi @petercolberg

The package is already in good shape and v1.0. How exactly do you want me to tag it? How do you guys distribute go packages in debian? Let me know please. Thanks

[2016-04-04 02:55] petercolberg commented on #28
Hi @fatih, thanks for considering to tag releases!

Debian packages each Go package repository as a separate Debian source package. In this case, your package has been [included in Debian](https://packages.debian.org/sid/golang-github-fatih-color-dev) as a dependency of [acmetool](https://github.com/hlandau/acme). The version of a Debian package includes an upstream part (e.g. "1.0.0") and a Debia

[2016-04-04 03:01] petercolberg commented on #28
You start with a `v1.0.0` tag. Whenever you wish to make a bug-fix release, you bump the patch version, for example to `v1.0.1`. When you add new functions, you bump the minor version, to `v1.1.0`. When you wish to break backwards compatibility, you bump the major version, to `v2.0.0`.

This allows your users to select a major version by importing the package as `gopkg.in/fatih/color.v1`. The [gop

[2016-06-17 14:13] jredville commented on #28
This would also be useful for anyone using Glide to manage dependencies. I see that you have a v0.1 tag, but that is over a year old, so tagging would be helpful for us too.

Thanks

[2016-06-20 13:24] ashrko619 opened #31 "Color cannot be used from multiple goroutines safely"
Color uses the fmt package which is **not safe** to be used across multiple concurrent goroutines.
We need to either

- Use log package, which is safe to be used across multiple goroutines
- Add a mutex

[2016-06-23 10:51] pathaugen opened #32 "Latest version linking to go-colorable/go-isatty failing in Windows 10"
Windows 10 usage of color that utilizes go-colorable/go-isatty is failing in Windows 10.

`fmt.Print(color.RedString("This is a test of Color"))`

![color-fail](https://cloud.githubusercontent.com/assets/8743911/16300626/bc4cd2fe-38f5-11e6-9385-5166ed898c02.PNG)

[2016-06-23 23:03] fatih commented on #32
Hi @pathaugen,

Does it also fail if you just use the https://github.com/mattn/go-colorable package? If yes you should open an issue there, if not let me know please. The color package is fully ANSI compatible, so it should just works if `go-colorable` works as well (which was btw)

[2016-06-23 23:53] pathaugen commented on #32
If another package is preventing yours from working I'll point this out:

We moved to:
https://github.com/shiena/ansicolor

Fully ANSI compatible as you state color is supposed to be.

Now everything works with ansicolor in Windows 10. It's a simple package for Windows coloring that doesn't have issues.

![color-fail-2](https://cloud.githubusercontent.com/assets/8743911/16323799/aca4ba0c-3962-11e6

[2016-06-24 21:51] fatih commented on #32
We were using it already, but then @mattn switched it to go-colorable to support 256 colors: https://github.com/fatih/color/pull/25

@mattn do you know what the problem here is ? I don't have a windows machine and can't validate the issue.

[2016-06-24 22:13] fatih commented on #28
Is a tag like `v0.2.0` good as well ? I don't want to start with a major `1`. I've already created the tag: https://github.com/fatih/color/releases/tag/v0.2.0 let me know if this is not suitable and we can start with `v1.0.0`. Thanks

[2016-06-24 22:59] pathaugen commented on #32
Switching from it may be when it broke for me.

Should note, you have to test in Windows 10 separate from pre-10 due to the changes to the windows console subsystem.

Here is an interesting read, to get some background beyond "Windows 10 is different"
http://www.nivot.org/blog/post/2016/02/04/Windows-10-TH2-%28v1511%29-Console-Host-Enhancements

Either way, ansicolor works. Love color for non-Wind

[2016-06-25 03:41] mattn commented on #32
![](http://go-gyazo.appspot.com/c1b4304fd6d68cad.png)

doesn't reproduce

[2016-06-25 14:56] fatih commented on #32
Thanks @mattn for the validation. @pathaugen as you see above, it's working without any problem. Maybe you did something wrong, but as you see it just works.

[2016-06-25 14:56] #32 closed

[2016-06-26 01:53] petercolberg commented on #28
It’s really up to you as the author. If you decide to adopt semantic versioning, then versions < 1.0.0 mean “Anything may change at any time. The public API should not be considered stable.”, which is not very useful to downstream users. So yes, v1.0.0 would be nice; but take your time as you see fit.

[2016-06-29 19:46] fatih commented on #31
Hi @ashrko619 This is ok. You should assume that all libraries/package are not safe by default (unless it's stated in the document). I do not state it and I don't want it to be that way. This should be used just like any other library, so it's the users responsibility to guard it. Thanks

[2016-06-29 19:46] #31 closed

[2016-06-29 19:52] fatih commented on #28
Alright we have now a `v1.0.0` release: https://github.com/fatih/color/releases/tag/v1.0.0. Thanks all for the comments.

[2016-06-29 19:52] #28 closed

[2016-07-03 12:54] pszxzsd opened #33 "width padding not working with SprintFunc"
e.g.:

[code]

should print "foo  bar" (with 2 spaces) but prints "foobar"

[2016-07-18 19:25] mgeisler commented on #33
That is not because of a problem with `SprintFunc`, but because `cyan("foo")` returns a string with 5 bytes. Or put differently: `fmt.Printf` does not take the color codes into account when formatting the string.

I suggest using `SprintfFunc` to format the string before the color codes are added:
[code]

[2016-07-19 20:47] fatih commented on #33
Thanks @mgeisler for the clarification. Closing as this is the indented way. There is not much we can do. @pszxzsd I recommend to use it like @mgeisler recommended. Thanks.

[2016-07-19 20:47] #33 closed

[2016-08-31 11:07] hieuht817 opened #37 "Race condition"
I faced race condition. I think fixing this may solve:
[code]

[2016-08-31 16:03] #37 closed

[2016-09-07 02:54] prologic opened #38 "Disabling for unsupported terminals, pipes, etc."
Hi, I'm evaluating this package and I have a question around disabling colors easily if the detected terminal/output/pipe/etc doesn't support colors?

[2016-09-07 08:06] fatih commented on #38
Yes, but you can always change the `Output` variable to your own custom writer if you wish.

[2016-09-07 08:40] prologic commented on #38
I see; Thanks!

[2016-09-07 08:41] fatih commented on #38
You're welcome. Feel free to open another issue if you have something in mind.

[2016-09-07 08:41] #38 closed

[2016-09-26 22:24] moorereason opened #39 "Properly handle single arg calls to helper funcs"
When calling `Red("cat%dog")` or `RedString("cat%dog")` without additional args, the string is interpreted as a format.  The result is `cat%!d(MISSING)dog`.  This is unexpected behavior.  Or as @davecheney said, "Wow, what an API footgun."

See davecheney/httpstat/pull/70

[2016-09-27 15:48] #39 closed

[2016-10-09 15:48] caffinatedmonkey opened #45 "${Color}String tries to interpret percent signs"
If you do:

    fmt.Println(color.RedString("%"))

This is printed (in red):

    %!(NOVERB)

This should be printed (in red):

    %

The wrong output is displayed even when `color.NoColor` is set to true.

[2016-10-18 09:26] fatih commented on #45
Hi @caffinatedmonkey

This was fixed with #35, do you use an older version? Please fetch latest master and try again. Thanks.

[2016-10-18 09:26] #45 closed

[2016-12-02 03:33] blitzprog opened #48 "Doesn't work in test files with go 1.8 beta"
Please see https://github.com/golang/go/issues/18153.
Only `go test` is affected.

[2016-12-02 07:11] fatih commented on #48
You're right. You have to explicitly set `color.NoColor = false` so that it works. I've made a comment there: https://github.com/golang/go/issues/18153#issuecomment-264388969 I'm not sure what the underlying change is. I want to first understand it before I try to fix it here or if it's an issue at https://github.com/mattn/go-isatty (@mattn)

[2016-12-10 17:25] vodolaz095 opened #49 "Module not working for go > 1.6"
I have opened the issue here
https://github.com/golang/go/issues/18277

It seems like for Go v > 1.6 when i install your module by `go get github.com/fatih/color` it later cannot be imported in file. For Go version 1.5 it works as expected

[2016-12-12 08:03] fatih commented on #49
Hi @vodolaz095

I think you have a local problem on your host. It works fine. Please provide more extensive information if you think there is a problem.

[2016-12-12 08:03] #49 closed

[2016-12-14 14:58] vodolaz095 commented on #49
thanks. this problem was arised by upgrading fedora linux from 23 to 24 version. This issue disappeared when i made clean install of fedora linux of 24 version from liveUSB drive.

[2016-12-27 16:57] robnagler opened #50 "Respect $TERM"
It would be wonderful if you could turn off color like @mjibson did in cortesi/termlog#3. I don't develop with go, but it seems like his change is a good compromise to respect $TERM without breaking backwards compatibility:

[code]
Anybody who sets TERM=dumb is actively trying to communicate with programs that the output is not a terminal which seems in line with the IsTerminal() test.

Please tel

[2016-12-28 20:30] fatih commented on #50
I think this wouldn't break anything. If you open a PR I'm happy to merge it. Thanks.

[2016-12-28 20:43] #50 closed

[2017-01-03 14:57] fatih commented on #48
This is now fixed in go tip. Thanks @blitzprog for the feedback again.

[2017-01-03 14:57] #48 closed

[2017-01-25 13:51] AlekSi opened #56 "Please tag v1.2.0"
Not just `v1.2`, for better compatibility with vendoring tools.

[2017-01-25 14:12] fatih commented on #56
Can we rename the existing one? And what's the difference between `v1.2` and `v1.2.0` ?

[2017-01-25 14:32] AlekSi commented on #56
You can tag the same commit as `v1.2.0`. You should not rename or remove `v1.2` as this will break things for some people.

Strictly speaking, `v1.2` is not a valid [SemVer version](http://semver.org).
Regular version scheme makes life easier for tools (vendoring, analytics ,etc.) authors and users.

Sorry if you think I'm too pedantic (you are probably right 😄).

[2017-01-25 14:35] fatih commented on #56
Haha @AlekSi no :) I was just curios. Ok let me try to create a version. There is a new PR, once I've merge it I'll release a new version so no need to retag this one. Thanks!

[2017-02-07 09:47] liyu4 opened #57 "it does't working on window7(64bit)"
I get wrong when run pure-go on windows.

package main

import("github.com/fatih/color")

func main() {
      color.Red("we are red")
}

1: window7 64bit
2: git bash

output:
![image](https://cloud.githubusercontent.com/assets/5621417/22686003/7ada0234-ed5d-11e6-8f30-fef5ae22de37.png)

[2017-02-09 07:53] fatih commented on #57
@mattn do you know what the problem might be ?

[2017-02-09 08:22] fatih commented on #56
We have a new tag now with `v1.3.0`. Thanks

[2017-02-09 08:22] #56 closed

[2017-02-09 09:24] mattn commented on #57
@liyu4 you use the command on cygwin or msys2 shell. it's not real command prompt. It's pseudo console. https://github.com/mattn/go-isatty is checking the handle of stdin is whether is tty or not. To recognize cygwin/msys console, go-isatty should check pipe name of handle. Fortunately, implementation is alredy exists.

https://github.com/k-takata/go-iscygpty

Adding new depenency effect is too bi

[2017-02-09 09:43] liyu4 commented on #57
well ,thanks @mattn

[2017-02-09 09:49] fatih commented on #57
that's awesome. Thanks a lot @mattn for the clarification. When do you think it would be included into go-isatty? I think we can close this when you finish it.

[2017-02-09 09:50] mattn commented on #57
Will do soon https://github.com/mattn/go-isatty/issues/8

[2017-02-09 09:52] mattn commented on #57
Please note that I will add new API `IsCygwinTerminal`. I don't want to break behavior of IsTerminal. So you must change `IsTerminal(fd)` to `IsTerminal(fd) || IsCygwinTerminal(fd)`.

[2017-02-09 09:53] fatih commented on #57
Hm, than it would also break my code if the user doesn't have new go-isatty. Is it an interface? Maybe I can do a type check and run a function before checking it.

[2017-02-09 09:56] mattn commented on #57
https://godoc.org/github.com/mattn/go-isatty

go-isatty can't add new feature without add new func at least.

[2017-02-09 10:17] mattn commented on #57
https://github.com/mattn/go-isatty/pull/13

[2017-02-09 17:56] mattn commented on #57
Now added IsCygwinTerminal.

[2017-02-09 18:03] fatih commented on #57
Thanks @mattn, I'll check how I can integrate without breaking it for older version of color.

[2017-02-09 18:09] mattn commented on #57
Most easy way to do it is put latest github.com/mattn/go-isatty into your vendor directory.

[2017-02-09 18:10] fatih commented on #57
Hm yeah that would work, I was against vendoring though because `fatih/color` is a library as well. I only vendor if it's `main` package, say CLI or service. But I think this is the only option I can do for now.

[2017-02-13 21:13] jbsmith7741 opened #58 "Background colors not clearing properly after newline"
Background color don't properly clear if using Println or Printf
[code]

![screen shot 2017-02-13 at 2 09 29 pm](https://cloud.githubusercontent.com/assets/6434838/22903548/37b24fd2-f1f6-11e6-82a3-eec4d855d2bf.png)

[2017-02-13 23:08] fatih commented on #58
I think it has to do with the terminal. This is how iterm2 shows it:

![screen shot 2017-02-14 at 2 07 30 am](https://cloud.githubusercontent.com/assets/438920/22907474/fd45a23e-f251-11e6-971b-24639e0b247e.png)

What terminal are you using? I think think this is caused by something else.

[2017-02-14 19:10] jbsmith7741 commented on #58
I'm using Terminal 2.7.1 (388) on a Macbook pro running Sierra 10.12.3

[2017-02-16 18:01] fatih commented on #57
Waiting for: https://github.com/mattn/go-isatty/pull/14 After that I need to re-vendor again the latest.

[2017-02-17 07:39] fatih commented on #57
@liyu4 can you test please this PR: https://github.com/fatih/color/pull/61 and let me know if it works or not

[2017-02-17 07:54] liyu4 commented on #57
hm, hold on!

[2017-02-17 08:06] liyu4 commented on #57
@fatih  😫   it's still so

below is code run on window7:
![image](https://cloud.githubusercontent.com/assets/5621417/23057370/d28a8768-f52a-11e6-9320-227c92279c2d.png)

Run:
![image](https://cloud.githubusercontent.com/assets/5621417/23057397/f9e9cf6c-f52a-11e6-980e-3a533aff5eda.png)

[2017-02-17 08:20] mattn commented on #57
try to `go run -x main.go`

[2017-02-17 08:30] liyu4 commented on #57
I have tried it like you say, but there is no effect.

this is working.

![image](https://cloud.githubusercontent.com/assets/5621417/23058127/62307528-f52e-11e6-80eb-bbf0d64f8140.png)

[2017-02-17 08:31] liyu4 commented on #57
@fatih @mattn
![image](https://cloud.githubusercontent.com/assets/5621417/23058152/9154598c-f52e-11e6-87c8-d178a16a4c64.png)

[2017-02-17 08:32] fatih commented on #57
@liyu4 I've pushde another fix, can you please try again? I think it was due not OR'in it.

[2017-02-17 08:33] liyu4 commented on #57
@fatih  very pleasure!

[2017-02-17 08:47] liyu4 commented on #57
@fatih  😭    i add  below code to color.go
NoColor = os.Getenv("TERM") == "dumb" ||
		!isatty.IsTerminal(os.Stdout.Fd()) ||
		!isatty.IsCygwinTerminal(os.Stdout.Fd())

but it doesn't working!

[2017-02-17 08:55] mattn commented on #57
Are you really trying fix-windows branch?

[2017-02-17 08:56] fatih commented on #57
@liyu4 we pushed another fix, please try again. Unfortunately I don't have the environment to test, so I'm just doing what you and @mattn and @k-takata suggest

[2017-02-17 09:08] mattn commented on #57
colors are disabled in last fix.

[code]
This should be

[code]

[2017-02-17 09:10] liyu4 commented on #57
sorry!  I had checkout to fix-windows
![image](https://cloud.githubusercontent.com/assets/5621417/23059338/f843ab5c-f533-11e6-9b48-3d93424fdd71.png)

[2017-02-17 09:18] liyu4 commented on #57
@mattn  you're right,
 NoColor = os.Getenv("TERM") == "dumb" ||
        (!isatty.IsTerminal(os.Stdout.Fd()) && !isatty.IsCygwinTerminal(os.Stdout.Fd()))
that's working in my terminal, thanks @mattn  @fatih

![image](https://cloud.githubusercontent.com/assets/5621417/23059598/0f7b7790-f535-11e6-842e-3c68ddfa7c5e.png)

[2017-02-17 09:50] #57 closed

[2017-02-18 17:41] NicolasSiver opened #62 "Is not available as a dependency: IsCygwinTerminal"
Hello.

I'm trying to use `color` library v1.4.0 as a dependency via `dep` tool. It resolves dependencies well, but there is an issue with `go-isatty` dependency.

[code]

As I understand, isatty is released with a tag which does not have the latest changes.
https://github.com/mattn/go-isatty/tree/v0.0.1

[2017-02-18 19:44] fatih commented on #62
Hi @NicolasSiver

I'm not sure what `dep` does under the hood. But If you `go get` this package it should just work. I've vendored the packages. Please do not strip the `vendor` dir. If you do, you're resonsible for the third part libraries and how the library vendors them. I think you should open a PR to `go-isatty` and ask them to tag it as there is little I can do. Thanks.

[2017-02-18 19:44] #62 closed

[2017-02-18 19:47] NicolasSiver commented on #62
It looks like `dep` does not use vendor directory at all. I mean, I did not strip anything ;)
If they are going to make `dep` as an official tool for package management, maybe `vendor` directory will not work well.

[2017-02-28 17:02] lgonzalez-silen commented on #62
for others who hit this, the issue here is that the tags in go-isatty are slightly incorrect [isatty_others.go](https://github.com/mattn/go-isatty/blob/master/isatty_others.go#L1)).

Instead of

[code]

they should be

[code]

and file [isatty_appengine.go](https://github.com/mattn/go-isatty/blob/master/isatty_appengine.go) should implement IsCygwinTerminal.

To get around this we pinned to color

[2017-02-28 17:03] lgonzalez-silen commented on #62
the tag appengine is recommended to be ignored in govendor, that's why isatty_others.go is not pulled in if you are ignoring appengine in your fetch/sync.

[2017-03-06 08:46] fatih commented on #62
@lgonzalez-silen could you open a PR to isatty repo or open an issue there? I'm not sure I can do something here, or yes ?

[2017-03-06 16:21] verkestk opened #64 "backspace character not working"
Backspace character is not clearing previously output characters.

See screenshot:

<img width="155" alt="screen shot 2017-03-06 at 10 13 10 am" src="https://cloud.githubusercontent.com/assets/2700492/23618313/8f590388-0255-11e7-8bc5-a20bc1c6a2cb.png">

I'm running zsh on OSX.

Here's the program to repro:

[code]

[2017-03-07 15:01] lgonzalez-silen commented on #62
Done! :-)

Yep, there is nothing to do here.

[2017-03-07 16:31] mattn commented on #62
Sorry, my bad.

[2017-03-17 16:26] #58 closed

[2017-03-19 04:09] malisit commented on #64
Things get complicated here: [https://github.com/fatih/color/blob/9131ab34cf20d2f6d83fdc67168a5430d1c7dc23/color.go#L441-L443](url)
This part adds a newline escape sequence to every string `str` you used with `Cyan` function as an argument and since your string is now `str\n` and the nondestructive backspace only works on the current line, you won't be able to have same results with `fmt.Print` wh

[2017-03-19 21:00] fatih commented on #64
Hi @verkestk

@malisit is right. It's a design decision for the custom function. However you can use the constructors which don't have the problem:

[code]

This works as indented:

![screen shot 2017-03-19 at 11 58 49 pm](https://cloud.githubusercontent.com/assets/438920/24084688/0526129a-0d00-11e7-86a0-c04909c6df68.png)

Thanks for the feedback and thanks @malisit for the lookup. I'm closing as

[2017-03-19 21:00] #64 closed

[2017-03-24 15:28] sublimino opened #66 "Optionally force colour output"
Would it be possible to force colour output without a terminal i.e. in a pipe? This would allow grep-ing for errors while maintaining useful colourised output.

This would provide the opposite functionality to https://github.com/fatih/color#disable-color - perhaps usage could look similar

    var flagForceColor = flag.Bool("force-color", false, "Force color output")

    if *flagForceColor {

[2017-03-27 18:12] fatih commented on #66
Hi @sublimino

You can do it via

[code]

This will force the color output. It's the same with what you want.

[2017-03-27 18:12] #66 closed

[2017-04-12 17:07] ELChris414 opened #67 "Suggestion: in string color assignments"
Have a function that will read the string and it changes the color whenever inside the string there is a $ and one color. I already did this (pretty crappy and slow) but you can improve on this idea:
[code]

[2017-04-14 06:16] ELChris414 commented on #67
Never mind, it is already possible with SprintFunc

[2017-04-14 06:16] #67 closed

[2017-05-26 15:32] prataprc opened #70 "Return objects implementing Fmt.Formatter."
Right now, if we are going to use Sprint, Sprintf, Sprintln outputs and
perform further formatting on the returned string as:

[code]

it may not give the correct padding.

To handle such cases, implement a set of functions that can return
formattable objects outside ``color/`` package.

To begin with, I might propose the following:

Implement a set of functions similar to Sprint, Sprintf, Sprintl

[2017-05-31 09:08] NeilRickards opened #71 "Force color"
Like the `color.NoColor` flag it would be good to have a global flag to force color output.

**use case**: Currently if I pipe the output to `less` the color is automatically disabled because it is not detected as a tty.  I would like to do something like `myApp --color | less -r`

[2017-05-31 09:11] fatih commented on #71
Why not set it to `false`? It would mean color is enabled always.

[2017-05-31 09:21] NeilRickards commented on #71
Set what to `false`?

[2017-05-31 09:21] fatih commented on #71
`color.NoColor = false`

[2017-05-31 09:23] NeilRickards commented on #71
Ah yes - that's working.  Thanks very much!  Closing ticket.
Might be worth adding to the README.

[2017-05-31 09:23] #71 closed

[2017-05-31 11:08] bhargavbhegde7 opened #72 "Feature request : colorizing the stdin - keyboard input in the terminal"
Please consider adding this feature for colorizing the keyboard input too.

[2017-05-31 11:12] fatih commented on #72
Can you please give more information on what you want ?

[2017-05-31 14:51] prataprc commented on #72
The issue is the following:

I am implementing a tabular reporting for tn47/goledger. In that, the content
for each cell is formatted first, which is agnostic of coloring details.
Coloring options are confined to Rendering functions.

Given this situation my code looks like the following

[code]

The issue is the last line ``fmt.Fprintf``, that takes ``fmsg`` which is
constructed during runtime.

[2017-05-31 14:54] prataprc commented on #72
I have a draft implementation that works for me, if it looks okay I can raise a pull request.

Refer: [fix](https://github.com/prataprc/color/commit/641ad7e7584555d4fcf030e88d398cbc3c73284a)

Thanks,

[2017-06-02 10:04] bhargavbhegde7 commented on #72
It would be great if there was a way to set custom color for the input text. I am using `bufio.NewReader(os.Stdin)ReadString('\n')` to get the user input from the keyboard in a console application, and I don't see a way to achieve this.

[2017-06-02 11:27] fatih commented on #72
You can force to enable the color with `color.NoColor = false`, which overrides the automatic detection, and thus enables color for you. Thanks.

[2017-06-02 11:27] #72 closed

[2017-06-18 17:20] dshafik commented on #32
I have now been able to reproduce this. It depends on the terminal you're using:

- Cmder/ConEmu: Works fine, in Bash for Windows, Cmd.exe, and powershell.exe
- powershell.exe: Works fine, though some colors are not visible (like `Yellow`)
- cmd.exe: shows escape codes as per @pathaugen

[2017-09-14 02:50] andreGarvin opened #78 "Does this package work good for windows 10 command propmpt?"
quick shout out to you for this amazing package this truly makes my cli tools look very colorful and amazing. Sadly there is a 'But', I tried using the compiled and executable binary of the `go build` and there some weird I am guessing unencoded symbols surrounding the words of text that is supposed to be colored.

EX:
[code]

If you could help understand that or maybe find a way to fix it that wo

[2017-09-15 20:08] thezone51 commented on #78
Not FULLY correct. Some features, like italic or underlined types wouldn't work cause... Cause it's windows, who needs them?

[2017-09-16 13:58] andreGarvin commented on #78
Well I mostly need them. I was using this tool called commander works fine but when I used my command prompt it did. It work, I was using the `color.RedString`

[2017-09-28 02:37] rakyll opened #80 "Support CI clis"
Colored output seems to be disabled because color package is not detecting the CI system CLIs. It looks like many is setting a `CI` env variable we can look for and enable colors on the known providers. Also see the reference at https://github.com/chalk/supports-color/blob/master/index.js#L66.

[2017-09-28 03:15] broady commented on #80
Or provide some other env variable to force color output?

[2017-09-28 06:16] fatih commented on #80
I can add it, need to be sure it's worth adding it (probably is for many).

As @broady said, in `gotest` main function, you could do it with the following (as an example just for `travis`):

[code]

[2017-09-28 06:18] broady commented on #80
^ this looks like a better patch than doing it in `color`.

[2017-09-28 07:10] rakyll commented on #80
Happy to apply the patch instead.

[2017-09-28 13:00] fatih commented on #80
Nice. Closing this. I believe it's better not add anything necessary.

[2017-09-28 13:00] #80 closed

[2017-10-11 18:48] jojomi opened #81 "PrintlnFunc is not compatible to fmt.Println"
What do you think about `PrintlnFunc` returning a func compatible to `fmt.Println` regarding to the return params?

Something like this:

[code]

[2017-10-12 15:07] fatih commented on #81
This came up before if you search for the Closed PR's or issues. The problem is that this breaks the API and this package is right now imported by hundreds of other packages. It's like this now forever (until I release a breaking version, which I don't want to right now). Thanks

[2017-10-12 15:07] #81 closed

[2017-11-07 00:31] alankm opened #82 "Attribute "Faint" is not faint on Windows (cmd.exe)"
Hello. I've tried using the Faint attribute for normally coloured console output. On Linux it works as expected: text is greyer and harder to read. On windows surprisingly the opposite is true: FgWhite is greyer and harder to read than Faint is.

I'm not sure if I should report that issue here, or on mattn's go-colorable.

[2017-11-27 09:44] joconcepts opened #83 "Update vendor"
We are facing an issue while using this package while `golang.org/x/sys/unix` is pinned to a really old version.

[code]

So we've pinned the package `golang.org/x/sys/unix` to latest version and our project builds. The reason for this issue is that your version to old to provide the needed methods and glide resolves the versions listed in the manifests of packages.

Maybe you need to check if it

[2017-11-27 14:02] fatih commented on #83
Hi @joconcepts

Thanks for the bug reports. Can you please tell me the latest revision of the `unix` package and the revision you guys need? I can sure update it, but that's a dependency of the two other dependencies I use in Color. So I need to be sure those also work in sync with the latest `unix` package.

[2017-11-27 14:18] joconcepts commented on #83
We need at least this version: 4ed4d404df456f81e878683a0363ed3013a59003
But we used the latest master version and it went well.

[2017-11-28 04:38] leighmcculloch opened #84 "Nesting colors does not work"
### Scenario
I'm using the `color._String` functions to color sub parts of a string that have already been colored.

[code]

### Got
![screen shot 2017-11-27 at 8 20 33 pm](https://user-images.githubusercontent.com/351529/33302386-74b5bff8-d3b0-11e7-8c39-9d69dc84ae8f.png)

### Want
![screen shot 2017-11-27 at 8 21 33 pm](https://user-images.githubusercontent.com/351529/33302398-96ff9cf0-d3b0-11e7-

[2017-12-01 08:01] jgkamat opened #85 "Properly decide when to disable colors"
#51 and #50 are an improper method of determining whether a terminal supports color. There are many dumb terms that support color, and there are non-dumb terminals that don't support color.

I currently use a dumb terminal as my main terminal, and all apps built with faith/color don't show color, but all other applications I use seem to work fine.

The proper way to do this is to use the terminfo

[2017-12-01 15:10] fatih commented on #83
Can you please try this PR/branch out: https://github.com/fatih/color/pull/86 ?

[2017-12-01 15:24] fatih commented on #85
Hi @jgkamat

What's your suggestion? It works well for most usecases, and to be honest, that part gets more and more complicated. I'm open to suggestions or PR's. Otherwise you always have the option to enable/disable it yourself.

[2017-12-01 15:32] fatih commented on #84
This is a fairly complex situation. To support this each color function has to parse the incoming string and lock if it's what formatted before. And it's just a string. So this would mean that for every single input, there will be additional computation. I'm going to close this down as I don't think to support this. Thanks anyway.

[2017-12-01 15:32] #84 closed

[2017-12-01 15:43] leighmcculloch commented on #84
Thanks for reading and explaining @fatih! Makes sense. ❤️

[2017-12-01 17:20] jgkamat commented on #85
The simplest way is just checking to see if the terminal has more than 8 colors available

`if [ $(tput colors) -ge 8 ]; then <set colors true> fi`

According to the terminfo manual, this will also fix showing colors when we are explicitly told not to as well (usually when `TERM` ends in `-m`).

The more 'proper' way is to get the ansi codes from tput directly, so that this checking isn't needed:

[2017-12-10 23:41] pjebs opened #88 "Doesn't work with `template/text`"

[2017-12-11 11:12] fatih commented on #88
Closing as it contains zero information.

[2017-12-11 11:12] #88 closed

[2017-12-25 14:36] MSathieu opened #89 "Not working in Git Bash on Windows"
I am using Git Bash and wanted to color the output of my program, but I'm getting this:
`?[36mMSathieu C:\Users\MSathieu\go\src\github.com\MSathieu\Gosh $?[0m`.

[2018-01-20 07:58] DesWurstes opened #90 "Higlight colors?"
Highlighted ones of: ![](https://raw.githubusercontent.com/chalk/ansi-styles/master/screenshot.png)

[2018-01-22 10:21] fatih commented on #90
Please provide more info, this is not useful. Thanks.

[2018-01-22 10:21] #90 closed

[2018-01-22 10:21] fatih commented on #89
I don't use Windows, so no Idea why this is not working. However I'm using the windows layer that @mattn created. Maybe he has an idea?

[2018-01-22 10:21] fatih commented on #83
ping @joconcepts

[2018-01-22 10:22] fatih commented on #82
Can you please open it to mattn's go-colorable. I dont' have direct Windows support so there is little I can do. Let me know if that is an issue I need to look at. Thanks!

[2018-01-22 10:22] #82 closed

[2018-01-22 10:23] fatih commented on #78
can you please open an issue to https://github.com/mattn/go-colorable. Let me know if there is an issue on this package though. I don't use Windows and have little I can do here. Thanks!

[2018-01-22 10:23] #78 closed

[2018-01-22 13:17] mattn commented on #89
@MSathieu What terminal do you use? I tried this on msys2 mintty.

![image](https://user-images.githubusercontent.com/10111/35222640-efdf0c92-ffc1-11e7-8f76-3f37480e278b.png)

Works intended.

[2018-01-23 00:23] mattn commented on #89
Could you please take screenshot or find the process name of exe?

[2018-02-01 06:26] MSathieu commented on #89
![Screenshot](https://user-images.githubusercontent.com/18145111/35664188-32ce095c-0721-11e8-9d4a-01336758fe23.png)

[2018-02-01 06:37] mattn commented on #89
What the shell? Where it's installed?

[2018-02-01 06:39] mattn commented on #89
And please try to take hex dump like below.

[code]

[2018-02-12 23:46] vancexu commented on #83
Hi @fatih , I had the same issue.
When tried your #86 , build success.
So I think you can merge it now.

If you like, maybe you could update to the latest sys?
Current in #86 , go/sys is using 8b4580aae2a0dd0c231a45d3ccb8434ff533b840 which is Nov 30, 2017.
The latest one is 37707fdb30a5b38865cfb95e5aab41707daec7fd which is Feb 2, 2018. (https://github.com/golang/sys/commit/37707fdb30a5b38865cfb95e

[2018-02-13 13:36] fatih commented on #83
This is now merged to master. I've tagged a new release with `v1.6.0`: https://github.com/fatih/color/releases/tag/v1.6.0 or pull the latest master. Thanks again for the feedback.

[2018-02-13 13:36] #83 closed

[2018-03-13 20:12] SebastienBoisard opened #91 "colorString() not working on Windows cmd.exe"
Hi @fatih

Thanks a lot for your color package.
It works great on Linux, but there's a problem under Windows.

[code]

The first line is printed in red, but not the second one:

![fatih_color_error](https://user-images.githubusercontent.com/16897743/37366992-6bb4a0a4-2702-11e8-9edf-9beaf08595e4.png)

I'm using the default shell (c:\Windows\system32\cmd.exe) on Windows 7.

[2018-03-13 20:13] fatih commented on #91
cc @mattn

[2018-03-13 22:25] mattn commented on #91
cmd.exe does not handle escape sequence in default. Please use Output.

[code]

[2018-03-14 18:04] SebastienBoisard commented on #91
Great, it works fine.
Thanks @mattn !

[2018-03-14 19:01] #91 closed

[2018-04-17 15:48] Calinou opened #93 "Add support for 256-color and truecolor escape codes"
I'd like to use 256 color or even [truecolor escape codes](https://gist.github.com/XVilka/8346728) to create nicer-looking CLI tools, but this library only seems to support the 16 traditional ANSI colors. As terminal support for truecolor is quite good by now (including on Windows 10, in my testing), it would be useful to see support for those escape codes.

[2018-06-07 02:48] benitogf commented on #85
Hi all, when running with systemd the colors are lost on the journal, same applies to using nohup, it only seems to work with `script -q -c "app" test.log` which I guess would be detected and a "non dumb" terminal, maybe we could have a flag to bypass the check?

[2018-06-12 08:29] freddy33 opened #98 "Migrate to vgo"
Here a pull request in case you'll want to use vgo.

[2018-06-14 18:41] whipshock opened #100 "Doesn't seem to work with go test output"
I tried using this within a go test function and was not able to get the color in the terminal. It works within a regular main() function.
[code]

[2018-06-23 08:52] 2gracia opened #101 "Using color with multiwrater"
Hello Fatih!
i am using code like this
`
 code:

	mw := io.MultiWriter(os.Stdout, file)
	Trace = log.New(file,
		"TRACE: ",
		log.Ldate|log.Ltime|log.Lshortfile)

	Trace.SetOutput(mw)
`
Am I able  use your module in my code ?

[2018-07-05 17:16] joegrasse commented on #32
@mattn @fatih @dshafik

On windows 10 powershell, I can get ```Yellow``` to show if I ```Bold``` it.

[2018-07-28 09:15] mirzazulfan opened #102 "Propose Logo"
Hi @fatih  . I'm a graphic designer. I wanted to contribute to your project for free, i'm waiting your feedback. Thanks .. Best Regard. Mirza Zulfan.

[2018-08-15 20:57] jsiciliano opened #103 "Anyway to print without it always being on a new line?"
It looks like the source code uses fmt.Println for everything, but what if I want things to be on the same line just in a different print statement.   For example, if I wanted to use two colors on the same line.

How would I do this? Or do I have to edit the source file?

Thanks!

[2018-08-20 02:34] jhollowayj commented on #103
Check out this section of the readme.
https://github.com/fatih/color/blob/master/README.md#insert-into-noncolor-strings-sprintfunc

[2018-09-12 05:09] kamontat opened #104 "random color"
Can this library support random color

[2018-09-14 00:57] farzadsalim commented on #103
It seems this fails on Win10. I'm building on Mac with [build] constraints to compile for Windows/Linux/Darwin. With the followings
Main_win.go
	yellow = color.New(color.FgYellow).SprintFunc()
Main.go
        var yellow func(a ...interface{}) string
        fmt.Printf(" %s \n", yellow("test"))
Stdout > [33mtest[0m

[2018-09-30 14:34] Tanonic opened #106 "Using color messes with formatting of tabwriter"
I am having a weird problem. When using a color It destroys the formatting of the text/tabwriter for some reason. When I don't use any colors the formatting is fine. This is the code I wrote for testing this:

    func main() {
    //first table
	w := new(tabwriter.Writer)
	w.Init(os.Stdout, 0, 0, 0, ' ', tabwriter.Debug)

	fmt.Fprintln(w, "a\tb\tc\td")

	fmt.Fprint(w, "abc" + "\t")
	fmt.Fprint(w,

[2018-10-01 09:32] Tanonic commented on #106
if I just use the ansi color directly and not through the library I have the same problem so it's actually not the libraries fault I guess.

    const (
	color = "\033[1;34m%s\033[0m"
    )

    func main() {
	w := new(tabwriter.Writer)
	w.Init(os.Stdout, 0, 0, 0, ' ', tabwriter.Debug)
	fmt.Fprintln(w, "a\tb\tc")

	fmt.Fprintf(w, color, "abc\tdef\tghi")
	w.Flush()
    }

output:
![screenshot 2018-

[2018-10-10 23:34] fatih commented on #70
Hi,

Unfortunately, I'm archiving this project and will no longer maintaining it. For more information, please read my blog post: [Taking an indefinite sabbatical from my projects.](https://arslan.io/2018/10/09/taking-an-indefinite-sabbatical-from-my-projects/)

Thanks for the feedback and contribution.

[2018-10-10 23:34] #70 closed

[2018-10-10 23:34] fatih commented on #85
Hi,

Unfortunately, I'm archiving this project and will no longer maintaining it. For more information, please read my blog post: [Taking an indefinite sabbatical from my projects.](https://arslan.io/2018/10/09/taking-an-indefinite-sabbatical-from-my-projects/)

Thanks for the feedback and contribution.

[2018-10-10 23:34] #85 closed

[2018-10-10 23:34] fatih commented on #93
Hi,

Unfortunately, I'm archiving this project and will no longer maintaining it. For more information, please read my blog post: [Taking an indefinite sabbatical from my projects.](https://arslan.io/2018/10/09/taking-an-indefinite-sabbatical-from-my-projects/)

Thanks for the feedback and contribution.

[2018-10-10 23:34] #93 closed

[2018-10-10 23:34] fatih commented on #98
Hi,

Unfortunately, I'm archiving this project and will no longer maintaining it. For more information, please read my blog post: [Taking an indefinite sabbatical from my projects.](https://arslan.io/2018/10/09/taking-an-indefinite-sabbatical-from-my-projects/)

Thanks for the feedback and contribution.

[2018-10-10 23:34] #98 closed

[2018-10-10 23:34] fatih commented on #100
Hi,

Unfortunately, I'm archiving this project and will no longer maintaining it. For more information, please read my blog post: [Taking an indefinite sabbatical from my projects.](https://arslan.io/2018/10/09/taking-an-indefinite-sabbatical-from-my-projects/)

Thanks for the feedback and contribution.

[2018-10-10 23:34] #100 closed

[2018-10-10 23:34] fatih commented on #101
Hi,

Unfortunately, I'm archiving this project and will no longer maintaining it. For more information, please read my blog post: [Taking an indefinite sabbatical from my projects.](https://arslan.io/2018/10/09/taking-an-indefinite-sabbatical-from-my-projects/)

Thanks for the feedback and contribution.

[2018-10-10 23:34] #101 closed

[2018-10-10 23:34] fatih commented on #102
Hi,

Unfortunately, I'm archiving this project and will no longer maintaining it. For more information, please read my blog post: [Taking an indefinite sabbatical from my projects.](https://arslan.io/2018/10/09/taking-an-indefinite-sabbatical-from-my-projects/)

Thanks for the feedback and contribution.

[2018-10-10 23:34] #102 closed

[2018-10-10 23:34] fatih commented on #103
Hi,

Unfortunately, I'm archiving this project and will no longer maintaining it. For more information, please read my blog post: [Taking an indefinite sabbatical from my projects.](https://arslan.io/2018/10/09/taking-an-indefinite-sabbatical-from-my-projects/)

Thanks for the feedback and contribution.

[2018-10-10 23:34] #103 closed

[2018-10-10 23:35] fatih commented on #104
Hi,

Unfortunately, I'm archiving this project and will no longer maintaining it. For more information, please read my blog post: [Taking an indefinite sabbatical from my projects.](https://arslan.io/2018/10/09/taking-an-indefinite-sabbatical-from-my-projects/)

Thanks for the feedback and contribution.

[2018-10-10 23:35] #104 closed

[2018-10-10 23:35] fatih commented on #106
Hi,

Unfortunately, I'm archiving this project and will no longer maintaining it. For more information, please read my blog post: [Taking an indefinite sabbatical from my projects.](https://arslan.io/2018/10/09/taking-an-indefinite-sabbatical-from-my-projects/)

Thanks for the feedback and contribution.

[2018-10-10 23:35] #106 closed

[2020-02-07 18:21] ORESoftware opened #110 "API to convert text to ascii color but not print"
I didn't expect this to print the text:

[code]

instead I am looking for an API that does this:

[code]

where can I find this API?

[2020-02-13 01:33] MarvinJWendt commented on #110
I think this is what you want: https://github.com/fatih/color#insert-into-noncolor-strings-sprintfunc

[2020-02-13 03:08] ORESoftware commented on #110
thanks yeah this worked for me: https://github.com/logrusorgru/aurora

[2020-02-13 03:08] #110 closed

[2020-03-22 16:06] Like0x opened #111 "Is there a way to clear the set color string？"
Is there a way to clear the set color string?

I used color in other places, but I just want to clear the color in the specified place.

[code]

I don't want to turn  off the color globally.
[code]

Is there any code to do that?

[2020-04-04 21:59] John123Allison opened #112 "add test cases for different commands"

[2020-04-04 21:59] #112 closed

[2020-04-10 22:05] fatih commented on #111
Yeah create your color instance first before using `SprintFunc()` and then you can disable it via `DisableColor()`, see: https://github.com/fatih/color#disableenable-color

[2020-04-10 22:05] #111 closed

[2020-11-29 15:02] iambenkay opened #117 "Feature Request"
Hello. Nice work on this package it almost totally served my use case.
I seem to have noticed an important feature that I really need but is not included currently. I could write it myself and make a PR. Basically a flexible way of formatting text with different rich text parameters. Here is a sample and expected output:
[code]

Output:
The title is *bold*
The title is _italic_
The text color is r

[2020-12-06 08:44] iambenkay opened #120 "Is fatih/color still actively maintained?"
This is a wonderful project and I would love to know if it is still actively maintained seeing that my issues were not replied to and my PR to it is gathering dust..

If it isn't being maintained anymore then I can push my updates to my fork instead and use that actively instead 🙂.

[2020-12-06 08:51] #120 closed

[2020-12-06 08:51] #117 closed

[2020-12-16 02:14] itchyny opened #124 "Exporting color.SetWriter / UnsetWriter"
Now `color.Set` and `color.Unset` are exported so that we can color output to the standard output. Can you export `color.SetWriter` and `color.UnsetWriter`? This is pretty useful when we cannot change the code to Fprint style. Also using `w.Write` beats Fprint* functions in performance because it does not scan for formatting.
[code]

[2020-12-17 01:54] fatih commented on #124
Hi @itchyny this looks like something we can do. Let me think about this a little bit. Thank you for your feedback.

[2020-12-19 13:10] bl-ue opened #126 "magent / hmagent"
In `color_test.go`, lines 30 and 38, the colors are listed as `magent` and `hmagent`, instead of `magents` and `hmagenta`.
https://github.com/fatih/color/blob/4cad7da0669c843889134a00f32b3e038ea79ac9/color_test.go#L30
https://github.com/fatih/color/blob/4cad7da0669c843889134a00f32b3e038ea79ac9/color_test.go#L38

Is this a mistake, or is it intentional?

When running the tests, I see that the extra

[2020-12-19 13:16] bl-ue commented on #120
@iambenkay there's not many new features to add.  But @fatih merged fix PRs very fast. 😉

[2020-12-19 15:18] apexskier opened #128 "feature request: Add Color merge functionality"
I have two color objects that I'd like to "merge" together. A quick example would be:

[code]

This could follow the same semantics as [Color.Add](https://pkg.go.dev/github.com/fatih/color#Color.Add) in terms of overwriting non-compatible attributes.

Alternatively, exposing the current attributes of a color object would allow me to do `a.Add(b.Attributes...)` to achieve the same effect.

If this

[2020-12-19 15:19] bl-ue commented on #128
Probably as simple as `append(a.Attributes, b.Attributes)`.

[2020-12-19 15:22] apexskier commented on #128
Yeah, internally I think this would be as simple as this (based on the current Add implementation)

[code]

[2020-12-19 15:24] bl-ue commented on #128
@apexskier If you don't mind I'll submit a PR.

[2020-12-19 15:26] apexskier commented on #128
Go for it

[2020-12-19 15:32] bl-ue commented on #128
@apexskier Are you thinking for it to modify the original `Color`, or return a new one?

[2020-12-19 15:41] bl-ue commented on #128
It could also be like this:
[code]
But that isn't like the other functions because most of them are methods with a receiver of type `*Color`.

@apexskier What do you think?

[2020-12-19 16:03] bl-ue commented on #128
@apexskier I've got it done now.  Just need to confirm which path to go, modify receiver or return a new `Color` object.  I personally like the idea better of returning a new color object with `colors.Merge`.

[2020-12-19 16:06] apexskier commented on #128
I like the more immutable pattern you're suggesting. That'll work better for my use case.

[2021-01-08 15:41] zepatrik commented on #124
I would be happy to implement this. What do you think about implementing `io.Writer` as well? It would enable one to wrap any writer with a color, and use it in the existing code without changing anything.

[2021-01-09 16:36] itchyny commented on #124
I'm ok with only exporting the two functions. Currently I use `go:linkname` to call `color.(*Color).setWriter`. I'm not sure what lib users would expect when they nest coloring writers.

[2021-01-18 09:54] quackduck opened #131 "Arbitrary RGB color support"
Can we add truecolor support? The ability to specify any R, G and B value?

[2021-01-26 20:14] marwan-at-work opened #132 "Library does not work in GitHub Actions"
Hi there Fatih 👋🏼

So I'm not totally sure why, but if I run `color.Yellow("HELLO")` from inside GitHub Actions, no color is actually printed.

But if I use another library such as `aurora/v3` and write `fmt.Println(aurora.Sprintf(aurora.Magenta("OK?")))`, a color is actually printed in the Actions UI.

I definitely prefer this library for its nice API :)

I'll try to dig into it more if I get som

[2021-01-26 20:21] fatih commented on #132
Hi @marwan-at-work

I assume it's due to the automatic color detection here:

https://github.com/fatih/color/blob/master/color.go#L20

Can you explicitly set it to false to bypass the check: `color.NoColor = false`  and try again?  The check is there to avoid mangling the input to a tool during a pipe operation.

[2021-01-26 20:29] marwan-at-work commented on #132
Yep, `color.NoColor = false` did the trick. Thank you for the quick response 🙌🏼

Added a quick PR to mention this in the README.

Hope you're well 👍🏼

[2021-01-30 20:33] #132 closed

[2021-01-30 20:34] fatih commented on #132
Thanks for the documentation in the Readme @marwan-at-work. Everything is fine on my end and I hope things are also going great for you :)

[2021-02-01 21:42] bl-ue commented on #126
My conclusion is obviously correct&mdash;I'll close this issue now.

[2021-02-01 21:42] #126 closed

[2021-03-14 17:25] quackduck commented on #131
Let me know what you think, @fatih!

[2021-03-17 10:52] Thiht opened #134 "Bold/BoldString helpers"
Hi,
Would you be open to adding helpers for Bold/BoldString? If so I can create a PR 😊

[2021-03-18 08:52] fatih commented on #134
Hi @Thiht,

Thanks for the suggestion. I think the current API of the package is large enough that it doesn't warrant a new introduction to a new function. I appreciate your time.

[2021-03-18 08:52] #134 closed

[2021-03-18 08:55] Thiht commented on #134
Okay that's fair :) Thanks

[2021-04-11 16:10] frax opened #135 "Background color overflows on terminal scroll"
And by overflow I mean expands the full line. Is there anyway I can avoid this?

TERM=xterm-256color and I have tried in both iTerm and Terminal, bash and zsh. Latest macOS Big Sur and go 1.16.3.
bash behaves a little different but still kinda the same bug.

Here's a simple example, run it a few times from the terminal.
[code]
![Screenshot 2021-04-11 at 18 04 37](https://user-images.githubusercont

[2021-04-24 20:02] fatih commented on #135
Hi @frax

I'm not sure what the proper fix would be here. I'm using Tmux and Fish, and for me, it doesn't do it. I think it might be related to your Terminal settings.

Another suggestion would be to use `c.Print()` instead of `c.Println()`.

[2021-04-24 20:02] #135 closed

[2021-05-06 14:07] eitah opened #136 "https://no-color.org/ support"
We're consumers of `concourse-ci` which uses this package to write to the CLI. We have an open ticket to their library to implement support for the `NO_COLOR` feature flag but realize they're likely dependent on changes to this lib to make that happen.

Our use case is we wish to write output from concourse-ci to a text file but the inline color codes make it tricky

More on the no-color.org movem

[2021-05-06 14:27] eitah commented on #136
It looks like per your readme the recommended approach to suppress colors is to call `isatty` to get color.NoColor implemented. Fly (concourse CLI) already uses no-color in tests, so perhaps it is on their app to enable globally? Forgive the pointless ticket if so and if `no-color.org` single environment variable approach is too heavy-handed then.

[2021-05-13 19:36] fatih commented on #136
Hi @eitah

[I initially was against ](https://github.com/fatih/color/pull/92)adding this environment variable (see: https://github.com/fatih/color/pull/92). But, now that I think, many people import this library, and people are using this without the power to change the code. This is especially true if you are using a CLI that uses `fatih/color`.

Hence, I reverted my decision and added support fo

[2021-05-13 19:41] fatih commented on #128
Closing this based on the comment here: https://github.com/fatih/color/pull/129#issuecomment-770465089

[2021-05-13 19:41] #128 closed

[2021-05-23 13:13] eitah commented on #136
Thanks! This is a great change and will be very useful for us in the future. I really appreciate the thought and care you put into this @fatih.

[2021-05-24 09:58] #136 closed

[2021-05-29 16:09] Sympthey opened #141 "Sometimes colours do not print correctly."
So I added this package to a project of mine and when I run it most of the time it prints the colours correctly but there is a good few times were it does not.
For example: I am printing some text in red if there was a issue but sometimes the colour is coming out as white even though I have specified I want it in red.

Do you know why this is?

[2021-06-01 15:58] abiosoft commented on #124
I'm in same boat as @itchyny.
I am working with bytes and `io.Writer` and the print functions do not suit my use case.

[2021-07-01 09:34] fprotimaru opened #142 "set prefix"
How can I set prefix time like log package?

[2021-08-13 12:01] eugene-manuilov commented on #120
@iambenkay @bl-ue no, it is not: https://github.com/fatih/color/issues/104#issuecomment-428767838

[2021-08-13 12:45] bl-ue commented on #120
@eugene-manuilov that's very old, from 2018.  Since then, Fatih has been doing lots of maintenance such as merging PRs on this repository.

[2021-08-29 07:57] regnaio commented on #131
Can we please have orange? @fatih

[2021-08-30 20:33] quackduck commented on #131
This library can make it easy to implement: https://github.com/jwalton/gchalk (it also auto-detects terminal support levels)

I can make a PR that uses this library, but I'm not sure whether @fatih would be okay with using another color library.

[2021-09-21 15:29] alekc opened #147 "Panic when used on go 1.17"
Hi, while using a terraform provider which list this project as one of it's dependencies I got a panic on the start of the process. After some digging turns out it's related to github.com/mattn/go-isatty v0.0.14

Dependabot has already bumped the version [here](https://github.com/fatih/color/commit/ab503e9325a87c026ea6540824e17f9b37ee4f65) but until there is a release it won't be fetched by the up

[2021-09-21 16:35] fatih commented on #147
Hi @alekc

Can you show me the panic output please? Or a sample example that makes fatih/color panic?

Thank you

[2021-09-21 18:43] alekc commented on #147
Probably better if I link directly the related PR https://github.com/mattn/go-isatty/pull/66 , also https://github.com/golang/go/issues/46645

[2021-09-21 18:52] fatih commented on #147
Thank you @alekc I'll take a look at it.

[2021-09-21 18:56] fatih commented on #147
It looks like go-isatty was already updated in go.mod, but I never released a new version.

I just released a new version, `v1.13.0`, which now includes the latest updates.

[2021-09-21 18:56] #147 closed

[2021-11-08 09:42] whimthen opened #150 "How to clear colored string?"
At the same time, output the log in the terminal and the file. I want the terminal to output colors, the file has no color characters. Register an interceptor in the log frame. How can I clear the colored string?

[code]

[code]

[2021-11-08 10:11] fatih commented on #150
You can create an individual color variable and do it on a per-color variable:

[code]

Or you can disable it globally with `color.NoColor` or clear it for existing colors via `color.Unset()`. It's in the readme.

[2021-11-08 11:54] whimthen commented on #150
Sorry, maybe I made a mistake, `color.NoColor` or  `color.Unset()` is global config. If it is set, all will not be displayed in color, which is not what I want. I meaning is `color.RedString("color text")` is converted to `\x1b[31mcolor text \x1b[0m` after, how to clear the color descriptor `\x1b[\d+m` in the string and replace it with regular? Can you provide an API to handle this. Thanks for you

[2021-11-20 01:44] #150 closed

[2021-12-17 03:29] ArkAngeL43 opened #153 "dont do drugs kids"
or youll end up building a nice firm color module

[2021-12-17 07:20] #153 closed

[2022-01-04 11:29] Integralist opened #154 "Broken escape codes on Windows 10 using cmd.exe"
👋🏻

I'm testing the following code:

[code]

On macOS the output is correctly bolded (as expected), while the output on Windows 10 cmd.exe displays:

[code]

I've noticed old issues like https://github.com/fatih/color/issues/91 where it mentions certain functions aren't supported by cmd.exe and so I'm not sure if there's a similar resolution here?

Any feedback/guidance appreciated.

Thanks.

[2022-01-06 08:01] fatih commented on #154
Hi @Integralist

If you use `color.Output`, it should work for both macOS and Windows:

[code]

This makes sure to use the correct parser. You can also use the handy `Printxxx` methods of the colow, which use the correct stdout under the hood:

[code]

[2022-01-06 08:19] Integralist commented on #154
Thanks I'll take a look at this 👍🏻

[2022-01-06 10:25] Integralist commented on #154
@fatih Thanks for the feedback, this appears to work but I'm just noting for future travellers that I was initially still seeing an issue with escape codes being displayed rather than rendered.

For example, using your suggestion...

[code]

This printed fine on macOS but on Windows, although the text was 'bolded' I was seeing it prefixed with `←[0m`...

<img width="187" alt="Screenshot 2022-01-06

[2022-01-06 10:25] #154 closed

[2022-01-06 11:07] Integralist commented on #154
Oh! and for anyone using`os.Stderr`, the equivalent to use is `color.Error`.

[2022-01-26 20:23] cardil opened #155 "Support for `FORCE_COLOR`"
It would be a good idea to apart from supporting [`NO_COLOR`](https://nocolor) it would be good to support easy forcing of color output.

The `FORCE_COLOR` environmental variable is less spread across industry, but still is used in a couple of libraries, i.e. https://github.com/chalk/chalk#supportscolor

[2022-02-06 05:36] lyderic opened #157 "Empty line added when filtering to 'less -R'"
This is a minimal program to reproduce the issue (I am on Ubuntu Linux 20.04 and I use gnome-terminal):

[code]

When run, the above program displays _foo_ in red. Good.

However, when the output is piped to _less -FR_, an empty line is added:

[code]

Please note that in the output above, _foo_ on lines 2 and 4 is rendered in red on my screen. One can see that the raw line _ESC[0m_ is added at th

[2022-03-06 22:17] mxrch commented on #141
I have the same problem here..

<img width="836" alt="image" src="https://user-images.githubusercontent.com/17338428/156944423-eb997509-dd7b-45c9-abaa-cc6c118b8483.png">

[2022-03-07 23:13] pedroalbanese opened #158 "Fprintln, Fprintf"

[2022-03-09 20:27] #158 closed

[2022-03-16 12:56] piqoni opened #159 "Could not install in Golang 1.18"
Tried to install this package in GO 1.18 and go the following error.

go install github.com/fatih/color@latest
**package github.com/fatih/color is not a main package**

Any suggestion? :)

[2022-03-24 08:24] Ran-Xing opened #160 "output auto-alignment"
Excuse me, can I do it to define two colors at the same time, the left is the command and the right is the result
[code]

<img width="496" alt="image" src="https://user-images.githubusercontent.com/73819467/159873377-3d876512-a468-4e18-912e-c6d858f97006.png">

Different results lead to inconsistent length and partial output cannot be aligned

[2022-03-26 08:12] Gelio commented on #159
This is not an executable binary (which you install with `go install`) - this is a library package which you can install using `go get`. Citing the README:

[code]

I was able to install it on go 1.18 without any issues

[2022-03-27 18:05] piqoni commented on #159
Thanks, that day I tried `go get` but got something like below, and had to move forward and I removed the library from my script:
![image](https://user-images.githubusercontent.com/3144671/160294448-5ee8c4b8-4240-4a86-9a6e-bc8ca3603392.png)

Not being familiar with the new golang changes, I did a `go mod init` and then a 'go get' (no error) but then when importing the package on my script just to

[2022-03-28 07:13] Gelio commented on #159
I'm afraid you will need to share more details for me to try to help you. It would be ideal if you could share reproduction steps (what steps do I need to take to get to the problem you're facing) or a repository that contains that problem.

I have tried setting up a new go module on go 1.18 and I was able to successfully use this library:

[code]

![image](https://user-images.githubusercontent.co

[2022-03-28 21:20] melihi commented on #141
![2022-03-29_00-19](https://user-images.githubusercontent.com/17669771/160489183-93a8ed4e-406e-4f7e-aaa7-523c46012047.png)
same problem

[2022-05-04 15:30] Hipska commented on #154
@fatih sorry to hijack this issue, but quick question, should [this](https://github.com/influxdata/telegraf/blob/6dc2b99549b3fc4684295ebcd2975cee96a1fa28/cmd/telegraf/telegraf.go#L270) be working on Windows?

[2022-05-11 19:32] kellypleahy commented on #160
@Ran-Xing this looks like it might be an issue with your code, not the library.  -15v means "left aligned in space of 15".  Since your second line has more than 15 chars on the LHS, it is not aligned as expected.  This is a function of the way the underlying formatter works rather than the library, I think ("which docker-compose:" is more than 15 chars so it doesn't fit an overflows the space).

[2022-06-16 09:45] AndyCyberSec commented on #159
simply it does not work

[code]

[2022-06-16 09:49] fatih commented on #159
It looks like you're trying to add a dependency to a Go project where you didn't create a go.mod file yet. You can create one via

[code]

and then us the `go get` file to add the color package to your `go.mod` file.

[2022-06-24 10:35] vikpe commented on #142
@fprotimaru I created a pretty printer with timestamp, prefix, [...msg] using this package:

**Code**
[code]

**Sample usage**
[code]

**Output**

![image](https://user-images.githubusercontent.com/1616817/175517741-3ee61732-4631-49e1-a0ec-2a74cf80611c.png)

[2022-07-01 01:16] yiaw commented on #160
hi @kellypleahy
i also had a similar issue.
this code ..
[code]

this code run

![image](https://user-images.githubusercontent.com/47405340/176803318-c8cb807f-1624-4133-9cc5-48a7d1862e85.png)

this same code runs, but green occupies space differently.

[2022-07-01 01:40] kellypleahy commented on #160
@yiaw unfortunately, I think your issue is related to a bigger "problem" with the design of the library.

I suspect if you look, the printf formatting of -32s is taking into the count of the chars in the escape sequences that are added to the string.  As such, you aren't really printing the whole string, but rather printing a subset of it (after the chars have been stripped).  As a result, I think

[2022-07-01 02:42] yiaw commented on #160
Thanks for the reply @kellypleahy

so , i solved it like below.

[code]

remove green colors removed "Add()" method. so i want print format

![image](https://user-images.githubusercontent.com/47405340/176812965-d8b7ffe1-8c36-4c9a-8e93-49ba9125ecb3.png)

[2022-09-20 04:21] Cyber-Dioxide opened #168 "suffix="\n""
The suffix="\n" in colorPrint() always adds new line, Set it to custom like suffix="". I'am facing the problem due to "\n".

[2022-10-11 14:45] killianmuldoon opened #169 "Colors not working in Powershell env"
Using the Cluster API CLI clusterctl prints the output with color on linux and mac environments, but the same does not work for Windows PowerShell and cmd. The output includes the Raw ANSI codes instead making it unreadable. The current workaround is to set the `NO_COLOR` env variable to turn off color completely, resulting in a readable, but colorless output.

 Is there a way to configure the lib

[2022-10-12 14:14] killianmuldoon commented on #169
/area clusterctl
/kind bug

[2022-10-18 13:25] hlindberg opened #170 "Colors not appearing in output view"
I run validation logic on save of certain files. The output from my validator has color turned on even when output is not a tty. Colored output is important to users as it can otherwise be difficult to visually parse the output.

What happens now:

When output appears colors are stripped

What is expected:
Coloured output from the command is shown in the Output for Run on Save.

According to this

[2022-10-18 13:26] hlindberg commented on #170
So sorry, managed to log this for the wrong project. Sorry for the noise!

[2022-10-18 13:26] #170 closed

[2022-10-31 17:48] vigo commented on #159
this issue should be closed... because it works :)

[2022-11-13 10:16] pellared opened #172 "`NO_COLOR` and empty string value"
The https://no-color.org/ requires handling empty value in way as if the value was not set.

I find it a lot better for several reasons.

The problem is that not all languages/OSes/shells are handling an empty value in the same way.

In .NET (C# etc) setting an empty value unsets the environmental variable (sic!). See: https://docs.microsoft.com/en-us/dotnet/api/system.environment.setenvironmentva

[2022-11-14 22:44] pellared commented on #155
I strongly disagree that this feature should be implemented as there are no common standards regarding `FORCE_COLOR`.

If in future the `FORCE_COLOR` would be a standardized, then a change in its value handling would be a breaking change from the behavior perspective.

[2022-11-14 22:47] pellared commented on #169
Are you sure that it is a problem with this library? I am working on Windows and never encountered any problems. I am using this library in https://github.com/goyek/x and I have encountered no issues. Maybe some repro steps?

[2022-11-14 22:53] pellared commented on #169
I see the problem is most probably only when `powershell` is called in `conhost.exe`. I am using Windows Terminal and it works OK. As far as I remember on PowerShell Prompt it works fine as well. https://github.com/mattn/go-colorable works on `conhost.exe` as well. So probably the problem is that it is PowerShell inside conhost. Can you confirm?

[2022-11-22 11:55] #160 closed

[2022-11-22 11:56] Ran-Xing commented on #160
The users and developers of this warehouse are the best I have ever seen, thank you